html{
  font-size: 16px;
  margin: 0;
  background-color: white;
  width: 100%;

}
body{
  margin: 0;
}
/* Header */
header{
  height: 4rem;
  display: flex;
  list-style: none;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;

}

.menu{
  display: flex;
  width:70%;
  justify-content: flex-end;
  padding-right: 1.5rem;

}
.menu li{
  display: inline-block;
  padding: 1.5rem 0.5rem;
}

.hidden-menu  {
  display:none ;
}

.logo{
  height:2rem;
  width: 30%;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}
.logo span{
  font-weight: bold;
}

 /* Media Query for Header */
@media only screen and (max-width:560px) {

.hidden-menu {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
}

.hidden-menu nav{
  display: flex;
  width: 100%;
  justify-content:space-around;
  align-items: center;
}

.logo {
  display: none;
}

.menu {
  display: none;
}
}

/* Contents */

/* section-one */

.section-one{
  display: flex;
  width: 100%;
  padding: 1.5rem;
  background-color: gray;
  margin:0;

}
.studyingphoto{
  width: 60%;
  overflow: hidden;
}
.studyingphoto img{
  max-width: 100%;
  height:auto;
  display: block;
}
.learnsomething{
  width: 40%;
  display: flex;
  margin-left: 1.5rem;
  margin-right: 4.5rem;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.learnsomething h1{
  font-size: 3rem;
  font-weight: 800;
}

.learnsomething p{
  font-size: 1.5rem;
}
.startbutton{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* section-one Media Query */
@media only screen and (max-width:560px) {
.studyingphoto, .learnsomething {
  width: 100%;
  margin: 0;
}
.section-one{
  flex-direction: column;
  padding: 0rem;
}

.learnsomething h1{
  margin: 0;
  padding: 2rem 1rem;
}
.learnsomething p{
  margin: 0;
  padding: 0rem 1rem 1.5rem 1rem;
}
.startbutton{
  margin:0rem 1rem 2rem 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: darkgray;
  color: white;
}
}
/* Section Two */

.section-two{
  display: flex;
  width: 100%;

}

.readingphoto{
  width: 60%;
  height:20rem;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  padding: 2rem 1.5rem;
}

.readingphoto img{
  max-width: 100%;
  height: auto;
  display: block;

}
.trio{
  padding-top: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.first, .second, .third{
  display:flex;
  padding: 1rem;

}

.first-text,.second-text, .third-text{
  display:flex;
  flex-direction: column;
  width: 65%;
  padding-left: 2rem;
}

.first-photo,.second-photo, .third-photo {
  width:35%;
  height: auto;

}

.first-photo img, .second-photo img, .third-photo img{
  max-width: 100%;
  height:auto;
  display: block;
}

.trio .third{
  background-color: gray;
}

.read a{
  color: blue;
}

 img.mobile{
  display: none;
}
/* section-two Media Query */
@media only screen and (max-width:560px) {
.readingphoto {
  display: none;
}

.trio {
  width: 100%;
  padding: 1rem;
  display: flex;
}

.first-photo,.second-photo, .third-photo {
  width:100%;
  height: auto;
  padding: 1rem;
}

.first-photo img, .second-photo img, .third-photo img{
  display: none;
}

img.mobile{
  max-width: 100%;
  height:auto;
  display: block;

}
.first, .second, .third{
  flex-direction: column;
}

.first-text,.second-text, .third-text{
  text-align: left;
  padding: 0.5rem;

}
.trio .third{
  background-color: inherit;
}
}

/* Section Three */

.startlearning{
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  padding: 2rem 0rem 1rem 0rem;
  line-height: 0;
}

.curriculum{
  width: 100%;
  background-color: grey;
}

.course{
  background-color: white;
}
.courses{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.course{
  display: flex;
  width: 28%;
  flex-direction: column;
  margin: 1rem;
}
.course h3, .course p{
  padding-left: 1rem;
}

.course img{
  max-width: 100%;
  height:auto;
  display: block;
}

/* section-three Media Query */
@media only screen and (max-width:560px) {
.course img, .course p {
  display: none;
}

.course{
  width:80%;
  margin: 0.25rem;
  padding-right: 0.5rem;
}

.startlearning{
  margin-top: 2rem;
}
}

/* Section-four */

.section-four{
  display: flex;
  width: 100%;

}

.thesis-exhibit{
  width: 100%;
  text-align: center;
  /* margin-top: 1rem; */
  padding: 2rem 0rem 1rem 0rem;
  line-height: 0;
}

.thesisvideo{
  width: 60%;
  height:auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

video{
  max-width: 100%;
  height: auto;
  display: block;

}
.duo{
  padding-top: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.thesisfirst{
  margin-top: 2rem;
  padding: 1rem;
  background-color: grey;
}

.thesisfirst, .thesissecond{
  display:flex;
  padding: 1rem;

}

.thesisfirst-text,.thesissecond-text{
  display:flex;
  flex-direction: column;
  width: 65%;
  padding-left: 2rem;
}

.thesisfirst-photo,.thesissecond-photo {
  width:35%;
  height: auto;

}

.thesisfirst-photo img, .thesissecond-photo img{
  max-width: 100%;
  height:auto;
  display: block;
}

/* section-four Media Query */
@media only screen and (max-width:560px) {
.duo,.thesisvideo h1,.thesisvideo p{
  display: none;
}

.thesisvideo{
  width:100%;
  margin: 0rem;
  /* padding-right: 0.5rem; */
}

.thesis-exhibit{
  /* margin-top: 2rem; */
}
}
/* Footer */

footer{
  display: flex;
  justify-content: space-between;
  margin: 0rem 1.5rem 1rem 1.5rem;
}

@media only screen and (max-width:560px) {
footer .terms{
  display: none;
}
